.julia-koblitz-spzze4tyxz0-unsp-icon,
.julia-koblitz-spzze4tyxz0-unsp-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-21xl) var(--br-21xl) 0 0;
  width: 181.4px;
  height: 109.2px;
  object-fit: contain;
  z-index: 1;
}
.julia-koblitz-spzze4tyxz0-unsp-icon1 {
  left: 3px;
  z-index: 2;
}
.text-parser {
  width: 184.4px;
  height: 109.2px;
  position: absolute;
  margin: 0 !important;
  top: 231px;
  right: 487.6px;
}
.logic-operator-child {
  align-self: stretch;
  height: 73px;
  position: relative;
  background-color: var(--color-honeydew);
  display: none;
}
.farm-equipment-group {
  margin-left: -1px;
  align-self: stretch;
  height: 1px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
}
.farm-equipment-group,
.home8,
.logo-3-icon8 {
  position: relative;
  z-index: 1;
}
.logo-3-icon8 {
  height: 59px;
  width: 311px;
  object-fit: cover;
}
.home8 {
  margin: 0;
  align-self: stretch;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  background: linear-gradient(180deg, #0ff084, #f1be0d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}
.map-generator {
  width: 65px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
}
.equipment9 {
  margin: 0;
  position: relative;
  font-size: var(--font-size-6xl);
  font-weight: 400;
  font-family: inherit;
  background: linear-gradient(180deg, #0ff084, #f1be0d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
  z-index: 1;
}
.queue-handler,
.stack-processor {
  display: flex;
  align-items: flex-start;
}
.queue-handler {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.stack-processor {
  width: 318px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 0;
  box-sizing: border-box;
}
.list-manager,
.tree-builder {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.tree-builder {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.list-manager {
  width: 906px;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs);
  box-sizing: border-box;
}
.boolean-gate {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  z-index: 1;
}
.logic-operator {
  align-self: stretch;
  height: 73px;
  background-color: var(--color-honeydew);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 7px 0;
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-xl);
  font-family: var(--font-inria-sans);
}
.featured-products {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.switch-node-child {
  align-self: stretch;
  height: 235px;
  position: relative;
  border-radius: var(--br-21xl);
  background-color: var(--color-white);
  box-shadow: 5px 12px 20px rgba(0, 177, 8, 0.12);
  display: none;
}
.julia-koblitz-spzze4tyxz0-unsp-icon2 {
  align-self: stretch;
  height: 109.2px;
  position: relative;
  border-radius: var(--br-21xl) var(--br-21xl) 0 0;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  z-index: 1;
}
.rotavator1 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.do-while-node {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xl) 0 30.699999999999815px;
}
.day6,
.fare6 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  z-index: 1;
}
.fare6 {
  width: 71.8px;
  flex-shrink: 0;
}
.day6 {
  height: 10.1px;
}
.fallthrough-node {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.brand,
.sonalika {
  align-self: stretch;
  position: relative;
  font-weight: 600;
}
.brand {
  flex: 1;
  z-index: 1;
}
.sonalika {
  width: 70.5px;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.continue-node,
.function-call-node {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.function-call-node {
  align-self: stretch;
  height: 9.5px;
  flex-direction: row;
  font-size: var(--font-size-xs);
}
.continue-node {
  flex-direction: column;
  gap: 12.2px 0;
  font-size: var(--font-size-sm);
}
.continue-node,
.for-node,
.view-details {
  align-self: stretch;
  flex: 1;
}
.for-node {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3.1px 0;
}
.view-details {
  position: relative;
  font-weight: 600;
  flex-shrink: 0;
  cursor: pointer;
  z-index: 1;
}
.export-node {
  width: 154.2px;
  height: 9.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xl) 0 24.5px;
  box-sizing: border-box;
  font-size: var(--font-size-xs);
}
.until-node {
  width: 157.5px;
  height: 88.6px;
  align-items: flex-start;
  gap: 14.2px 0;
}
.case-node,
.switch-node,
.until-node {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.switch-node {
  align-self: stretch;
  border-radius: var(--br-21xl);
  background-color: var(--color-white);
  box-shadow: 5px 12px 20px rgba(0, 177, 8, 0.12);
  align-items: flex-end;
  padding: 0 0 var(--padding-sm-5);
  gap: 23.7px 0;
}
.case-node {
  flex: 0.9576;
  align-items: flex-start;
  padding: 0 var(--padding-15xl) 0 0;
  box-sizing: border-box;
  min-width: 140px;
}
.error-node-child {
  align-self: stretch;
  height: 235px;
  position: relative;
  border-radius: var(--br-21xl);
  background-color: var(--color-white);
  box-shadow: 5px 12px 20px rgba(0, 177, 8, 0.12);
  display: none;
}
.julia-koblitz-spzze4tyxz0-unsp-icon3 {
  margin-top: -1px;
  align-self: stretch;
  height: 109.2px;
  position: relative;
  border-radius: var(--br-21xl) var(--br-21xl) 0 0;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  z-index: 1;
}
.trailer3 {
  flex: 1;
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.about-node {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 41px 0 40.69999999999982px;
}
.brand1,
.fare7 {
  align-self: stretch;
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.brand1 {
  height: 9.5px;
  font-size: var(--font-size-xs);
  display: inline-block;
  flex-shrink: 0;
}
.settings-node {
  width: 72.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12.2px 0;
}
.day7,
.mahindra {
  height: 10.1px;
  position: relative;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.mahindra {
  align-self: stretch;
  height: 9.5px;
  font-size: var(--font-size-xs);
}
.account-node {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 22.6px 0;
  margin-left: -0.5px;
}
.feedback-node,
.help-node {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.feedback-node {
  flex-direction: row;
  align-items: flex-end;
  font-size: var(--font-size-sm);
}
.help-node {
  flex-direction: column;
  align-items: flex-start;
  gap: 3.1px 0;
}
.view-details1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  font-weight: 600;
  flex-shrink: 0;
  cursor: pointer;
  z-index: 1;
}
.register-node {
  width: 152.2px;
  height: 9.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xl) 0 23.5px;
  box-sizing: border-box;
  font-size: var(--font-size-xs);
}
.info-node {
  width: 161.5px;
  align-items: flex-start;
  gap: 13.2px 0;
}
.error-node,
.info-node,
.output-node {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.error-node {
  align-self: stretch;
  border-radius: var(--br-21xl);
  background-color: var(--color-white);
  box-shadow: 5px 12px 20px rgba(0, 177, 8, 0.12);
  align-items: flex-end;
  padding: 0 0 var(--padding-mini-5);
  gap: 24.7px 0;
}
.output-node {
  flex: 1;
  align-items: flex-start;
  padding: var(--padding-12xs) var(--padding-7xl) 0 0;
  box-sizing: border-box;
  min-width: 135px;
}
.shape-cluster-child {
  width: 181px;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-21xl);
  background-color: var(--color-white);
  box-shadow: 5px 12px 20px rgba(0, 177, 8, 0.12);
}
.thresher1 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.image-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xl) 0 var(--padding-11xl-5);
}
.day8,
.fare8 {
  position: relative;
  font-weight: 600;
  display: inline-block;
}
.fare8 {
  width: 71.8px;
  flex-shrink: 0;
  z-index: 1;
}
.day8 {
  height: 10.1px;
  z-index: 2;
}
.value-multiplier {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.brand2,
.mahindra1 {
  height: 9.5px;
  position: relative;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
}
.brand2 {
  width: 72px;
  z-index: 1;
}
.mahindra1 {
  align-self: stretch;
  z-index: 2;
}
.input-filter,
.logic-matrix,
.nested-branch {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.input-filter {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-9xs) 0 0;
}
.logic-matrix,
.nested-branch {
  align-self: stretch;
  flex-direction: row;
  font-size: var(--font-size-xs);
}
.logic-matrix {
  flex: 1;
  flex-direction: column;
  gap: 12.2px 0;
  font-size: var(--font-size-sm);
}
.view-details2 {
  align-self: stretch;
  flex: 1;
  position: relative;
  font-weight: 600;
  flex-shrink: 0;
  cursor: pointer;
  z-index: 1;
}
.data-aggregator,
.error-handler,
.shape-cluster {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.error-handler {
  width: 164.2px;
  height: 9.5px;
  flex-direction: row;
  padding: 0 var(--padding-11xl) 0 29.5px;
  box-sizing: border-box;
  font-size: var(--font-size-xs);
}
.data-aggregator,
.shape-cluster {
  flex-direction: column;
}
.shape-cluster {
  align-self: stretch;
  flex: 1;
  padding: 125px 0 var(--padding-xl-5) var(--padding-xl-5);
  position: relative;
  gap: 7.1px 0;
}
.data-aggregator {
  height: 240px;
  width: 197.7px;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
}
.jhon-deere {
  height: 9.5px;
  width: 105.2px;
  position: absolute;
  margin: 0 !important;
  right: -19.7px;
  bottom: 34.2px;
  font-weight: 600;
  display: inline-block;
  z-index: 2;
}
.variable-table-child {
  align-self: stretch;
  height: 235px;
  position: relative;
  border-radius: var(--br-21xl);
  background-color: var(--color-white);
  box-shadow: 5px 12px 20px rgba(0, 177, 8, 0.12);
  display: none;
}
.data-flow-child {
  height: 108.5px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}
.data-flow {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 9.300000000000011px;
}
.trailer4 {
  width: 77.9px;
  position: relative;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.for-loop {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-11xl) 0 var(--padding-26xl);
}
.day9,
.fare9 {
  position: relative;
  font-weight: 600;
  display: inline-block;
}
.fare9 {
  width: 71.8px;
  flex-shrink: 0;
  z-index: 1;
}
.day9 {
  height: 10.1px;
  z-index: 2;
}
.switch-case {
  flex: 1;
  flex-direction: row;
  font-size: var(--font-size-sm);
}
.function-call,
.if-statement,
.switch-case {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.if-statement {
  align-self: stretch;
  flex-direction: column;
  gap: 6.4px 0;
}
.function-call {
  height: 46.1px;
  flex-direction: row;
  padding: 0 var(--padding-7xs) 0 var(--padding-8xs);
  box-sizing: border-box;
}
.brand3,
.view-details3 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.brand3 {
  width: 73px;
  height: 9.5px;
  display: inline-block;
  flex-shrink: 0;
}
.view-details3 {
  align-self: stretch;
  flex: 1;
  cursor: pointer;
}
.array-indexing,
.method-call {
  align-self: stretch;
  flex: 1;
  align-items: flex-start;
}
.array-indexing {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-11xl-5);
}
.method-call {
  flex-direction: column;
  gap: 14.2px 0;
}
.function-declaration,
.method-call,
.variable-table {
  display: flex;
  justify-content: flex-start;
}
.function-declaration {
  align-self: stretch;
  height: 33.2px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 22.800000000000185px 0 var(--padding-3xl);
  box-sizing: border-box;
  font-size: var(--font-size-xs);
}
.variable-table {
  flex: 1;
  border-radius: var(--br-21xl);
  background-color: var(--color-white);
  box-shadow: 5px 12px 20px rgba(0, 177, 8, 0.12);
  flex-direction: column;
  align-items: flex-end;
  padding: 0 0 var(--padding-mini-5);
  gap: 12.2px 0;
  font-size: var(--font-size-mini);
}
.algorithm-core,
.else-node {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.algorithm-core {
  width: 180.9px;
  position: relative;
  font-size: var(--font-size-xs);
}
.else-node {
  flex: 1;
  gap: 0 33.4px;
  max-width: 100%;
}
.if-node {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-7xl);
  box-sizing: border-box;
  font-size: var(--font-size-mini);
  color: var(--color-dimgray);
  font-family: var(--font-montserrat);
}
.condition-node,
.if-node,
.variable-node {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.condition-node {
  flex: 1;
  flex-direction: column;
  gap: 36px 0;
}
.variable-node {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-6xs) 0 0;
  box-sizing: border-box;
}
.line-separator5 {
  position: absolute;
  top: 1px;
  left: 0;
  border-radius: var(--br-21xl);
  background-color: var(--color-white);
  box-shadow: 5px 12px 20px rgba(0, 177, 8, 0.12);
  width: 100%;
  height: 100%;
}
.comparison-operators-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 180.9px;
  height: 107.6px;
  object-fit: cover;
  z-index: 1;
}
.comparison-operators {
  width: 181px;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  bottom: 0;
  left: 0;
}
.rotavator2 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.file-i-o {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xl) 0 28.699999999999815px;
}
.brand4,
.fare10 {
  align-self: stretch;
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.brand4 {
  height: 9.4px;
  font-size: var(--font-size-xs);
  display: inline-block;
  flex-shrink: 0;
}
.j-s-o-n-parsing {
  width: 72.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12.1px 0;
}
.day10,
.mahindra2 {
  height: 10.1px;
  position: relative;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.mahindra2 {
  align-self: stretch;
  height: 9.4px;
  font-size: var(--font-size-xs);
}
.c-s-s-styling {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 22.5px 0;
  margin-left: -0.5px;
}
.exception-handling,
.h-t-t-p-requests {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.h-t-t-p-requests {
  flex-direction: row;
  align-items: flex-end;
  font-size: var(--font-size-sm);
}
.exception-handling {
  flex-direction: column;
  align-items: flex-start;
  gap: 7.1px 0;
}
.view-details4 {
  align-self: stretch;
  flex: 1;
  position: relative;
  font-weight: 600;
  flex-shrink: 0;
  cursor: pointer;
  z-index: 1;
}
.logical-operators,
.r-programming {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.r-programming {
  width: 166.2px;
  height: 9.4px;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 var(--padding-12xl) 0 var(--padding-11xl-5);
  font-size: var(--font-size-xs);
}
.logical-operators {
  width: 203.7px;
  flex-direction: column;
  justify-content: flex-end;
  padding: 131.3px 0 var(--padding-sm-5) 26.5px;
  position: relative;
  gap: 12.2px 0;
}
.data-aggregator-child {
  width: 181px;
  height: 235px;
  position: relative;
  border-radius: var(--br-21xl);
  background-color: var(--color-white);
  box-shadow: 5px 12px 20px rgba(0, 177, 8, 0.12);
  display: none;
}
.julia-koblitz-spzze4tyxz0-unsp-icon4 {
  margin-right: -4.800000000000182px;
  width: 181.4px;
  height: 109.2px;
  position: relative;
  border-radius: var(--br-21xl) var(--br-21xl) 0 0;
  object-fit: contain;
  z-index: 1;
}
.thresher2 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.logic-gate {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xl) 0 30.699999999999815px;
}
.brand5,
.fare11 {
  align-self: stretch;
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.brand5 {
  height: 9.5px;
  font-size: var(--font-size-xs);
  display: inline-block;
  flex-shrink: 0;
}
.matrix-node {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12.2px 0;
}
.day11,
.swaraj {
  height: 10.1px;
  position: relative;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.swaraj {
  height: 9.5px;
  font-size: var(--font-size-xs);
}
.queue-node {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 22.6px 0;
  margin-left: -0.5px;
}
.loop-node,
.output-collector {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.loop-node {
  flex-direction: row;
  align-items: flex-end;
  font-size: var(--font-size-sm);
}
.output-collector {
  flex-direction: column;
  align-items: flex-start;
  gap: 3.1px 0;
}
.view-details5 {
  align-self: stretch;
  flex: 1;
  position: relative;
  font-weight: 600;
  cursor: pointer;
  z-index: 1;
}
.map-node {
  align-self: stretch;
  height: 9.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-mid) 0 var(--padding-12xl-5);
  box-sizing: border-box;
  font-size: var(--font-size-xs);
}
.input-processor {
  width: 153.1px;
  align-items: flex-start;
  gap: 14.2px 0;
}
.dashboard-design,
.data-aggregator1,
.input-processor {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.data-aggregator1 {
  align-self: stretch;
  border-radius: var(--br-21xl);
  background-color: var(--color-white);
  box-shadow: 5px 12px 20px rgba(0, 177, 8, 0.12);
  align-items: flex-end;
  padding: 0 4.400000000000091px var(--padding-sm-5) 0;
  gap: 23.7px 0;
}
.dashboard-design {
  flex: 0.8714;
  align-items: flex-start;
  padding: 0 26.699999999999815px 0 0;
  box-sizing: border-box;
  min-width: 135px;
  font-size: var(--font-size-mini);
}
.warning-node {
  position: absolute;
  top: 1px;
  left: 0;
  border-radius: var(--br-21xl);
  background-color: var(--color-white);
  box-shadow: 5px 12px 20px rgba(0, 177, 8, 0.12);
  width: 100%;
  height: 100%;
}
.error-node1,
.info-node-icon {
  position: absolute;
  top: 0;
  left: 0;
}
.info-node-icon {
  border-radius: var(--br-21xl) var(--br-21xl) 0 0;
  width: 180.9px;
  height: 108px;
  object-fit: cover;
  z-index: 1;
}
.error-node1 {
  width: 181px;
  height: 100%;
  margin: 0 !important;
  bottom: 0;
}
.brand6 {
  align-self: stretch;
  width: 73px;
  position: relative;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.help-node1,
.sonaloka {
  align-self: stretch;
  flex: 1;
}
.sonaloka {
  position: relative;
  font-weight: 600;
  z-index: 2;
}
.help-node1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.view-details6 {
  align-self: stretch;
  flex: 1;
  position: relative;
  font-weight: 600;
  flex-shrink: 0;
  cursor: pointer;
  z-index: 1;
}
.filter-node {
  width: 168.2px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-13xl) 0 var(--padding-12xl-5);
  box-sizing: border-box;
}
.event-node,
.procedure-node {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.event-node {
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  padding: 188.5px 0 var(--padding-sm-5) 19.5px;
  position: relative;
  gap: 14.2px 0;
}
.procedure-node {
  height: 235px;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-7xs);
  box-sizing: border-box;
}
.fare-rectangle {
  width: calc(100% - 17.7px);
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 17.7px;
  bottom: 0;
  left: 0;
  border-radius: var(--br-21xl) var(--br-21xl) 0 0;
  z-index: 2;
}
.trailer5 {
  width: 77.9px;
  position: relative;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
  z-index: 3;
}
.bucket-sort-node {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-12xl) 0 44px;
}
.day12,
.fare12 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
}
.fare12 {
  width: 71.8px;
  z-index: 3;
}
.day12 {
  height: 10.1px;
  z-index: 4;
}
.bubble-sort-node,
.insertion-sort-node {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.insertion-sort-node {
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
}
.bubble-sort-node {
  flex-direction: row;
  font-size: var(--font-size-sm);
}
.function-node1,
.merge-sort-node {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.merge-sort-node {
  align-self: stretch;
  justify-content: flex-end;
  padding: 86.5px var(--padding-6xl) 11.800000000000011px 26.199999999999815px;
  position: relative;
  gap: 4.1px 0;
  margin-top: -188.2px;
  font-size: var(--font-size-mini);
}
.function-node1 {
  flex: 1;
  justify-content: flex-start;
  min-width: 133px;
  min-height: 235px;
}
.jhon-deere1 {
  height: 9.5px;
  width: 105.2px;
  position: absolute;
  margin: 0 !important;
  right: -20.7px;
  bottom: 37.2px;
  font-weight: 600;
  display: inline-block;
  z-index: 2;
}
.hash-table-node-child {
  align-self: stretch;
  height: 235px;
  position: relative;
  border-radius: var(--br-21xl);
  background-color: var(--color-white);
  box-shadow: 5px 12px 20px rgba(0, 177, 8, 0.12);
  display: none;
}
.hash-table-node-item {
  align-self: stretch;
  height: 108.5px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 1;
}
.rotavator3 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.tree-map-node {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xl) 0 30.699999999999815px;
}
.brand7,
.fare13 {
  align-self: stretch;
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.brand7 {
  height: 9.5px;
  font-size: var(--font-size-xs);
  display: inline-block;
  flex-shrink: 0;
}
.dynamic-programming-node {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12.2px 0;
}
.day13 {
  height: 10.1px;
  position: relative;
  font-weight: 600;
  display: inline-block;
  z-index: 2;
  margin-left: -0.5px;
}
.matrix-graph-node,
.matrix-map-node {
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.matrix-graph-node {
  flex-direction: row;
  font-size: var(--font-size-sm);
}
.matrix-map-node {
  flex-direction: column;
  gap: 3.1px 0;
}
.view-details7 {
  align-self: stretch;
  flex: 1;
  position: relative;
  font-weight: 600;
  cursor: pointer;
  z-index: 1;
}
.generator-node,
.graph-map-node {
  align-self: stretch;
  align-items: flex-start;
}
.generator-node {
  height: 9.5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 var(--padding-mid) 0 var(--padding-12xl-5);
  box-sizing: border-box;
  font-size: var(--font-size-xs);
}
.graph-map-node {
  flex: 1;
  flex-direction: column;
  gap: 14.2px 0;
}
.graph-map-node,
.hash-table-node,
.stack-map-node {
  display: flex;
  justify-content: flex-start;
}
.stack-map-node {
  width: 161.7px;
  height: 88.6px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 4.299999999999272px 0 var(--padding-9xs);
  box-sizing: border-box;
}
.hash-table-node {
  flex: 1;
  border-radius: var(--br-21xl);
  background-color: var(--color-white);
  box-shadow: 5px 12px 20px rgba(0, 177, 8, 0.12);
  flex-direction: column;
  align-items: flex-end;
  padding: 0 0 var(--padding-sm-5);
  gap: 24.4px 0;
  font-size: var(--font-size-mini);
}
.binary-tree-node,
.data-visualization {
  flex-direction: row;
  align-items: flex-start;
}
.binary-tree-node {
  width: 181px;
  display: flex;
  justify-content: flex-start;
  position: relative;
}
.data-visualization {
  flex: 1;
  gap: 0 32.3px;
  min-width: 427px;
  font-size: var(--font-size-xs);
}
.call-node,
.data-visualization,
.function-node,
.math-operations {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.math-operations {
  width: 907px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 0 46.3px;
  font-size: var(--font-size-mini);
  color: var(--color-dimgray);
  font-family: var(--font-montserrat);
}
.call-node,
.function-node {
  box-sizing: border-box;
}
.call-node {
  width: 953px;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 var(--padding-xl) 0 0;
  gap: 60px 0;
}
.function-node {
  width: 1203px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 66px var(--padding-xl);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.frame-child25 {
  width: 1443px;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: -2px;
  bottom: 0;
  max-height: 100%;
}
.logic-branch,
.logo-4-icon8 {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.logic-branch {
  height: 1px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
}
.logo-4-icon8 {
  height: 50.6px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.kisan-hai-to8 {
  position: relative;
  background: linear-gradient(180deg, #0ff084, #f1be0d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1;
}
.logical-operator,
.loop-node1,
.variable-node1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.logical-operator {
  flex-direction: row;
  padding: 0 var(--padding-23xl) 0 41.70000000000027px;
  margin-top: -1.1px;
}
.loop-node1,
.variable-node1 {
  flex-direction: column;
}
.variable-node1 {
  align-self: stretch;
}
.loop-node1 {
  flex: 1;
  padding: 0 0 13.199999999999989px;
}
.here-frame {
  height: 99px;
  width: 1px;
  position: relative;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
  z-index: 1;
}
.condition-node1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 0 23.9px;
  min-width: 176px;
}
.here8,
.please-provide-us8 {
  position: relative;
  background: linear-gradient(180deg, #0ff084, #f1be0d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  z-index: 2;
}
.please-provide-us8 {
  align-self: stretch;
  /* background: linear-gradient(180deg, #0ff084, #f1be0d); */
}
.here8 {
  text-decoration: underline;
  position: relative;
  background: linear-gradient(180deg, #0ff084, #f1be0d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  z-index: 2;
}
.function-return-node {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-9xl);
}
.function-call-node1 {
  align-self: stretch;
  flex-direction: column;
  gap: 25px 0;
}
.function-call-node1,
.function-hub,
.user-input-node {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.user-input-node {
  width: 199.4px;
  flex-direction: column;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
}
.function-hub {
  flex: 1;
  flex-direction: row;
  gap: 0 65.6px;
  max-width: 100%;
}
.feedback-frame-label {
  width: 1px;
  flex: 1;
  position: relative;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
  z-index: 1;
}
.sequence-node {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 4.399999999999977px;
}
.give-us-a8 {
  position: relative;
  background: linear-gradient(180deg, #0ff084, #f1be0d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1;
}
.for-loop-node {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 9.199999999999818px;
}
.twitter-icon8 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  cursor: pointer;
  z-index: 1;
}
.default-case-node {
  height: 56.1px;
  width: 59.4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs-5) 0 0;
  box-sizing: border-box;
}
.github-icon8,
.instagram-icon8 {
  height: 61.6px;
  width: 64.6px;
  position: relative;
  object-fit: cover;
  cursor: pointer;
  z-index: 1;
}
.github-icon8 {
  width: 57.3px;
  height: 52.8px;
}
.return-node {
  flex-direction: column;
  justify-content: flex-start;
  padding: 4.400000000000006px 0 0;
}
.case-node1,
.return-node,
.while-loop-node {
  display: flex;
  align-items: flex-start;
}
.case-node1 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.while-loop-node {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 13.2px 0;
}
.assignment-node,
.output-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.assignment-node {
  height: 103.4px;
  width: 261.7px;
  align-items: flex-end;
  gap: 0 26px;
  min-width: 261.6999999999998px;
}
.output-container {
  width: 875.8px;
  align-items: flex-start;
  gap: 0 78.1px;
  max-width: 100%;
}
.data-aggregator2,
.input-filter1 {
  background-color: #d8f5de;
  display: flex;
  max-width: 100%;
  flex-shrink: 0;
}
.input-filter1 {
  width: 1402.8px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.data-aggregator2 {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 19.4px 0;
}
.statement-block-node {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  z-index: 1;
}
.equipment8,
.frame-parent18 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
}
.frame-parent18 {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 0 0.09999999999999432px;
  gap: var(--gap-2xs-2);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-base);
  font-family: var(--font-inria-sans);
}
.equipment8 {
  width: 100%;
  background-color: var(--color-white);
  overflow: hidden;
  align-items: flex-end;
  padding: var(--padding-16xl) 0 0.9000000000000057px;
  gap: 58px 0;
  letter-spacing: normal;
}
@media screen and (max-width: 975px) {
  .call-node {
    gap: 30px 0;
  }
}
@media screen and (max-width: 950px) {
  .case-node,
  .output-node {
    flex: 1;
  }
  .else-node {
    flex-wrap: wrap;
  }
  .assignment-node {
    flex: 1;
  }
  .output-container {
    flex-wrap: wrap;
    gap: 0 39px;
  }
  .equipment8 {
    gap: 29px 0;
  }
}
@media screen and (max-width: 700px) {
  .data-visualization {
    flex-wrap: wrap;
    gap: 0 16px;
    min-width: 100%;
  }
  .function-node {
    padding-bottom: 43px;
    box-sizing: border-box;
  }
  .function-hub {
    flex-wrap: wrap;
    gap: 0 33px;
  }
}
@media screen and (max-width: 450px) {
  .featured-products {
    font-size: var(--font-size-lgi);
  }
  .else-node {
    gap: 0 17px;
  }
  .condition-node {
    gap: 18px 0;
  }
  .dashboard-design {
    flex: 1;
  }
  .math-operations {
    gap: 0 23px;
  }
  .function-hub {
    gap: 0 16px;
    min-width: 100%;
  }
  .output-container {
    gap: 0 20px;
  }
}
